* {
    margin:0px; 
    padding: 0px;
    box-sizing: border-box;
}

.COLORESEMPRESA{
    --background: linear-gradient(#171717, #1fea00, #fffdee, #0d271e, #d3ae4e, #f25165, #135d54);
    }

@font-face{
font-family: Chau;
src: url(../fonts/ChauPhilomeneOne-Regular.ttf)
}
@font-face{
font-family: Chau-It;
src: url(../fonts/ChauPhilomeneOne-Italic.ttf)
}

.background1{
background: url(../img/background.jpg);
background-repeat: no-repeat;
background-size: cover; 
background-position: center center;
position: relative;
}

.background2{
background: url(../img/backgroundwhite.png);
object-position: 50% 50%;
background-repeat: no-repeat;
background-size: cover; 
}

.divisor{
height: 3rem;
background-color: #d3ae4e;
border: solid rgba(0, 0, 0, .15);
border-width: 1px 0;
box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.espacio{
height: 3rem;
background-color: transparent
}

@media (min-width: 992px) {
.rounded-lg-3 { border-radius: .3rem; }
}
  
.logotittle{
    width: 33vw;
    height: auto;
}
.summonlogo{
    width: 150px;
    height: auto;
}
.summonqr{
    width: 300px;
    height: auto;
}


.chau{font-family: 'Chau'}
.itchau{font-family: 'Chau'}
.verdeO{color: #0d271e !important;}
.verdeC{color: #1fea00 !important;}
.negro{color: #171717 !important;}
.blanco{color:#fffdee !important;}
.dorado{color:#d3ae4e !important;}
.verdeC{color: #1fea00 !important;}
.sombraV{text-shadow: #1fea00 1px 0 10px;}
.sombraB{text-shadow: 1px 1px 2px #0d271e, 0 0 0.5em rgb(255, 217, 5)}

.divnegro{background-color: #171717;
}
.divverde{background-color: #0d271e;
}


.summonbutton{
padding: 15px;
margin: 5px;
width: 300px;
height: 60px;
background: linear-gradient(60deg, #d3ae4e, #171717, #171717, #d3ae4e);
color: #fffdee;
border-radius: 10px;
border-color: #0d271e;
border-style: solid;
border-width: 3px;
font-size: 18px;
}

.imgsize1{
 width: 700px;
 height: auto;
}

.funcionimg{
    width: 300px;
    height: auto;
    padding: 5px !important;
}

.center{
    display: flex;
    justify-content: center;
    text-align: center;
    align-content: center;
    align-items: center; 
    }

.overx{
    display: inline-block;
    max-width: 96vw;
    overflow-y: auto;
    max-height: 60vh;
}